<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../Assets/css/style.css" />
    <!-- <link rel="stylesheet" href="../Assets/fontawesome/css/all.css ">
    <link rel="stylesheet" href="../Assets/fontawesome/css/fontawesome.min.css ">  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../Assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../Assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../Assets/css/owl.theme.default.min.css" />
    <script src="../Assets/js/jquery-3.6.0.min.js"></script>
    <script src="../Assets/js/bootstrap.bundle.min.js"></script>
    <script src="../Assets/js/owl.carousel.min.js"></script>
    <script src="../Assets/js/script.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbr fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="/Assets/img//landingpg-images/mainlogo.png" /></a>
            <button class="navbar-toggler p-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle
                    navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto me-5 my-2 my-lg-0
                        navbar-nav-scroll" style="--bs-scroll-height: 100px">
                    <li class="nav-item mx-4">
                        <a class="nav-link navtxt" aria-current="page" href="#">Venues</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link navtxt" href="#">Vendors</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link navtxt" href="#">Gallery</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link navtxt" href="#">Invitation</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link navtxt" href="#">Blog</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn navbutlogin" type="submit">Login</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="pagetitle">
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Carrier</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card bg-dark text-white">
            <img src="/Assets/img/carrier-image/image1.png" class="card-img
                    carrierimgbnr" alt="...">
            <div class="card-img-overlay text-center mt-5
                    textcarrierbanner">
                <p class="card-title carrierbannerhead mt-5">Carrier</p>
                <p class="card-text carriersubtext">Lorem Ipsum is simply
                    dummy text of the printing.</p>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg p-4">
                    <p class="carrierdescription">Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown. Lorem
                        Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                        when an unknown.</p>
                </div>
                <div class="col-lg d-flex justify-content-center">
                    <div class="card p-3 crdcarrier">
                        <div class=" ps-4 mt-3 carrierapplication">
                            <form>
                            <p class="text carrierapplichead">Application</p>
                            <div class="form-row mt-5 d-flex flex-wrap">
                                <div class="form-group  col-lg">
                                    <label for="inputEmail4">&nbsp; First Name</label>
                                    <input type="text" class="form-control" id="inputEmail4" placeholder="First Name" required >
                                </div>
                                <div class="form-group col-lg">
                                    <label for="inputPassword4">&nbsp; Last Name</label>
                                    <input type="text" class="form-control" id="inputPassword4"
                                        placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="form-row mt-2 d-flex flex-wrap">
                                <div class="form-group col-lg">
                                    <label for="inputEmail4">&nbsp; Email Address</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
                                </div>
                                <div class="form-group col-lg">
                                    <label for="inputPassword4">&nbsp; Mobile Number</label>
                                    <input type="password" class="form-control" id="inputPassword4"
                                        placeholder="Mobile Number" required>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <inp class="form-group col-lg">
                                    <label for="">&nbsp;Resume</label>
                                    <button onclick=""  type="file" class="form-control text-center resumeup" id="" ><input type="file"  required></input><br>Upload here<p  class="maxfile">Max files 5mb (pdf, doc, docx)</p></button>
                                </div>
                            </div>
                            <button class="mt-3  carrierappsubmit" id="upload-button" >Submit</button>
                        </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <footer>
        <div class="container my-4 p-0">
            <footer class="footer">
                <div class="container p-4">
                    <div class="col-lg col-md mb-2 text-center">
                        <div class="d-flex justify-content-center">
                            <div class="px-2 pt-1">
                                <img src="/Assets/img/facebookicon.png" alt="" />
                            </div>
                            <div class="px-2 pt-1">
                                <img src="/Assets/img/linkedinicon.png" alt="" />
                            </div>
                            <div class="px-2 pt-1">
                                <img src="/Assets/img/googleicon.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-4 col-md-6 mb-4 text-center">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">
                                    <a href="#!">
                                        <p class="footer-link-text">About
                                            Us</p>
                                    </a>
                                </li>
                                <li class="mb-1">
                                    <a href="#!">
                                        <p class="footer-link-text">Contact
                                            Us</p>
                                    </a>
                                </li>
                                <li class="mb-1">
                                    <a href="#!">
                                        <p class="footer-link-text">Newsletter</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 text-center">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">
                                    <a href="#!">
                                        <p class="footer-link-text">Terms &
                                            Condition</p>
                                    </a>
                                </li>
                                <li class="mb-1">
                                    <a href="#!">
                                        <p class="footer-link-text">Privacy
                                            Policy</p>
                                    </a>
                                </li>
                                <li class="mb-1">
                                    <a href="#!">
                                        <p class="footer-link-text">Careers</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 text-center">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">
                                    <a href="#!">
                                        <p class="footer-link-text">Contact
                                            Specialist</p>
                                    </a>
                                </li>
                                <li class="mb-1">
                                    <a href="#!">
                                        <p class="footer-link-text">Get
                                            Support</p>
                                    </a>
                                </li>
                                <li class="mb-1">
                                    <a href="#!">
                                        <p class="footer-link-text">Media
                                            Enquiry</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!">
                                        <p class="footer-link-text">Partnership
                                            Enquiry</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <p class="copyright">
                            Copyright<i class="fas fa-copyright px-2"></i>
                            2022 Shunhalagna
                            I All rights reserved
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </footer>

</body>
<script>
    function myFunction() {
        alert()
 var x = document.createElement("INPUT");
 x.setAttribute("type", "file");
 console.log("----------------------")
 console.log(x)
 console.log("----------------------")

 console.log(document.body)

 document.body.appendChild(x);
}
       </script>
</html>